/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Adjust the color to match your background */
    color: #fff;
}

/* Styling for the header section */
header {
    background: url('assets/images/chatlutier.webp') no-repeat center center;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

/* Section styling */
.section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Title styling within each section */
.section h2 {
    margin-bottom: 20px; /* Increased margin for better visual separation */
}

/* Button styling */
button {
    background-color: #555; /* Adjust the color to your preference */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Specific styling for different types of buttons if needed */
.button-primary {
    background-color: #008CBA; /* Blue */
}

.button-secondary {
    background-color: #f44336; /* Red */
}

/* For the intensity slider */
.intensity-slider {
    width: 100%;
    margin: 10px 0;
}

/* Container for the sound buttons */
.sound-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between buttons */
}

/* Individual sound buttons */
.sound-button {
    flex-basis: calc(33.333% - 10px); /* Three buttons per row, adjust the space to match */
    text-align: center;
}

/* Styling for the bottom navigation */
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.button-play {
    background-color: #4CAF50; /* Green for playing */
    color: white;
}

.button-stop {
    background-color: #f44336; /* Red for stopped */
    color: white;
}
