/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Adjust the color to match your background */
    color: #fff;
}
h2 {
    text-align: center;
}

/* Global styling */

@font-face {
    font-family: Bagnard;
    src: url(assets/fonts/BagnardSans.otf);
}

body {
    font-family: Bagnard;
}

button {
    font-family: Bagnard;   
}

/* Styling for the header section */
header {
    background: url('assets/images/chatlutier.webp') no-repeat center center;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

/* Title styling within each section */
.section h2 {
    margin-bottom: 20px; /* Increased margin for better visual separation */
}

/* Button styling */
button {
    background-color: #555; /* Adjust the color to your preference */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Specific styling for different types of buttons if needed */
.button-primary {
    background-color: #008CBA; /* Blue */
}

.button-secondary {
    background-color: #f44336; /* Red */
}

/* For the intensity slider */
.intensity-slider {
    width: 100%;
    margin: 10px 0;
}

/* Container for the sound buttons */
.sound-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between buttons */
}

/* Individual sound buttons */
.sound-button {
    flex-basis: calc(33.333% - 10px); /* Three buttons per row, adjust the space to match */
    text-align: center;
}

/* Styling for the bottom navigation */
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.button-play {
    background-color: #4CAF50; /* Green for playing */
    color: white;
    display: block; /* Change display to block */
}

.button-stop {
    background-color: #f44336; /* Red for stopped */
    color: white;
    display: block; /* Change display to block */
}


/* Icons styling */
.icon {
    height: 80px;
    width: 100%;
}

/* Section styling */
.section {
    padding: 20px;
    display: grid; /* Change display to grid */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Set columns to auto-fill with a minimum width of 200px */
    grid-auto-rows: minmax(50px, auto); /* Set rows to automatically adjust height */
    gap: 20px; /* Add gap between grid items */
    align-items: center;
    justify-content: center;
}
.button {
    flex: 1 0 auto;
    text-align: center;
    text-transform: capitalize;
    /* Add any additional styling for buttons */
}

.button .volume-slider {
    display: block;
    margin-top: 15px;
    width: 100%;
}

.progress-bar-container {
    position: relative;
    width: 100%;
    height: 100px; /* Adjust the height as needed */
    background-color: #f44336; /* Light grey background for visibility */
    overflow: hidden; /* Keeps children elements from overflowing */

    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 2px solid #ee951f;
}

.progress-bar {
    background-color: rgba(76, 175, 80, 0.6); /* Green to indicate progress */
    width: 0%; /* Initial width */
    height: 100%; /* Fills the container vertically */
    transition: width 0.3s ease; /* Smooth transition for width changes */
}

.sound-bar-text {
    position: absolute;
    left: 50%; /* Position the left edge of the text at the center of the container */
    top: 10px;
    transform: translateX(-50%); /* Shift the text left by half its width to truly center it */
    z-index: 0; /* Make sure the text stays under the bar to avoid dragging issues */
    text-align: center; /* Ensure text alignment is centered, good for multi-line */

    padding: 5px 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}

.icon {
    position: absolute;
    top: 25%; /* Adjust top positioning to center vertically */
    right: 25%; /* Places the icon to the right inside the container */
    width: 50%; /* Standard size for visibility */
    height: 50%; /* Maintain aspect ratio */
    z-index: 3; /* Ensures icon is visible above all other content */
}

.sound-bar-text, .icon {
    user-select: none; /* Prevent text and icons from being selectable */
    -webkit-user-select: none; /* Safari specific prefix */
    -moz-user-select: none; /* Firefox specific prefix */
    -ms-user-select: none; /* Internet Explorer/Edge specific prefix */
}