#background-music-Credit {
    text-align: center;
    margin: 10px 0;
}

#background-music-Credit a {
    color: #388497;
    margin-bottom: 0;
}

#background-music-Credit a:hover {
    text-decoration: underline;
}