header {
    background-size: cover;
    padding: 20px;
    text-align: center;
    position: relative;
    color: #fff;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: BagnardSans, Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.top-left-controls {
    position: absolute;
    left: 10px;
    padding: 20px;
}

.logo {
    width: 100px;
    height: auto;
    vertical-align: middle;
}

.status {
    margin-top: 10px;
    font-size: 0.9em;
    color: #FFD700;
}

.center-content {
    flex-grow: 1;
    text-align: center;
}

.icon {
    position: absolute;
    top: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    z-index: 3;
    user-select: none;
    pointer-events: none;
}

.section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* Footer styling */
footer {
    background-color: #444;
    padding: 20px 0;
}

.footer-content {
    text-align: center;
    color: white;
}

.footer-content a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
