
#progressBar {
    flex-grow: 1;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 10px;
}

#sound-progress {
    height: 100%;
    background-color: rgba(76, 175, 80, 0.7);
    width: 0%;
}